<%- include("header") -%>

<h3>Daftar Nasabah by NIK</h3>

<div class="container my-table">
  <table>
    <tr>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Tempat Lahir</th>
      <th>Tanggal Lahir</th>
      <th>NIK</th>
      <th>Nomor HP</th>
    </tr>
    <!-- loop tr with td -->
    <tr>
      <td><%=foundbyNik.nama%></td>
      <td><%=foundbyNik.alamat%></td>
      <td><%=foundbyNik.tptLahir%></td>
      <td><%=foundbyNik.tglLahir%></td>
      <td><%=foundbyNik.nik%></td>
      <td><%=foundbyNik.noHp%></td>
    </tr>
  </table>
</div>
<%- include("footer") -%>
